# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [7]:
import sqlite3
import shutil

In [3]:
import sqlite3

def create_database():
    conn = sqlite3.connect('test.db')
    conn.close()
    print("connection has been established")

create_database()

connection has been established

2. Write a Python function to create a table named `employeesss` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [4]:
def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees(
                   id INTEGER PRIMARY KEY,
                   name TEXT NOT NULL,
                   department TEXT ,
                   age INTEGER
                   )

''')
    conn.commit()
    conn.close()
    print("The table has been created")
    
create_table()

The table has been created

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [5]:
def insert_employees(id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        INSERT INTO employees (id, name , age, department)
        VALUES (?,?,?,?)
        ''',(id,name,age,department))
    conn.commit()
    conn.close()
    print("The New Data has been Inserted into the Table")

insert_employees(1,'ALice',32, 'Biodegrade')

IntegrityError: UNIQUE constraint failed: employees.id

2. Insert at least 5 different employees into the `employees` table.

In [ ]:
# Insert 5 different employees
insert_employees(2, 'Bob', 25, 'Engineering')
insert_employees(3, 'Charlie', 28, 'Sales')
insert_employees(4, 'David', 35, 'Marketing')
insert_employees(5, 'Eve', 22, 'HR')

The New Data has been Inserted into the Table
The New Data has been Inserted into the Table
The New Data has been Inserted into the Table
The New Data has been Inserted into the Table

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employeess` table.

In [ ]:
def fetcch_all():
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees')
    record = cursor.fetchall()
    conn.commit()
    conn.close()


    for records in record:
        print(records)

fetcch_all()

(1, 'ALice', 'Biodegrade', 32)
(2, 'Bob', 'Engineering', 25)
(3, 'Charlie', 'Sales', 28)
(4, 'David', 'Marketing', 35)
(5, 'Eve', 'HR', 22)

2. Write a Python function to fetch and display all employees from a specific department.

In [ ]:
def fetcch_specific_department(department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE department = ?',(department,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

fetcch_specific_department('Sales')

(3, 'Charlie', 'Sales', 28)

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [ ]:
def update_department_by_emp_id(department,id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        UPDATE employees
        SET Department = ?
        WHERE id = ?
''', (department,id))
    conn.commit()
    records = cursor.fetchall()
    conn.close()
    print("The Database has been succesfully updated")
    
update_department_by_emp_id('Engineering',3)

The Database has been succesfully updated

2. Update the department of at least 2 employees and display the updated records.

In [ ]:
# Update the department of 2 employees
update_department_by_emp_id('Research',2)
update_department_by_emp_id('Customer Support',3)

# Fetch and display all records
fetcch_all()

The Database has been succesfully updated
The Database has been succesfully updated
(1, 'ALice', 'Biodegrade', 32)
(2, 'Bob', 'Research', 25)
(3, 'Charlie', 'Customer Support', 28)
(4, 'David', 'Marketing', 35)
(5, 'Eve', 'HR', 22)

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [ ]:
def delete_employee(employee_id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        DELETE FROM employees
        WHERE id = ?
    ''', (employee_id,))
    conn.commit()
    conn.close()
    print("Employee deleted successfully.")

# Test the function
delete_employee(5)

Employee deleted successfully.

2. Delete at least 1 employee and display the remaining records.

In [ ]:
# Delete an employee
delete_employee(4)

# Fetch and display all records
fetcch_all()

Employee deleted successfully.
(1, 'ALice', 'Biodegrade', 32)
(2, 'Bob', 'Research', 25)
(3, 'Charlie', 'Customer Support', 28)

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [ ]:
def fetch_employees_older_than(age):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE age > ?', (age,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_older_than(25)

(1, 'ALice', 'Biodegrade', 32)
(3, 'Charlie', 'Customer Support', 28)

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [ ]:
def fetch_employees_name_starts_with(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_employees_name_starts_with('A')

(1, 'ALice', 'Biodegrade', 32)

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [ ]:
def insert_multiple_employees(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employees (id, name, age, department)
            VALUES (?, ?, ?, ?)
        ''', employees)
        conn.commit()
        print("All employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

Error occurred, transaction rolled back.
UNIQUE constraint failed: employees.id

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [ ]:
def update_multiple_employees_ages(updates):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            UPDATE employees
            SET age = ?
            WHERE id = ?
        ''', updates)
        conn.commit()
        print("All employee ages updated successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5),
    (23,88)
]
update_multiple_employees_ages(updates)
fetcch_all()

All employee ages updated successfully.
(1, 'ALice', 'Biodegrade', 32)
(2, 'Bob', 'Research', 26)
(3, 'Charlie', 'Customer Support', 33)

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

In [ ]:
def create_departments_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS departments (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully.")

# Test the function
create_departments_table()

Table 'departments' created successfully.

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [ ]:
def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.executescript('''
        PRAGMA foreign_keys=off;
        BEGIN TRANSACTION;
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT,
            department_id INTEGER,
            FOREIGN KEY(department_id) REFERENCES departments(id)
        );
        INSERT INTO employees (id, name, age, department)
        SELECT id, name, age, department FROM old_employees;
        DROP TABLE old_employees;
        COMMIT;
        PRAGMA foreign_keys=on;
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully.")

# Test the function
add_department_foreign_key()

Table 'employees' modified successfully.

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

In [ ]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Department and employee inserted successfully.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

In [ ]:
def create_index_on_name():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    conn.commit()
    conn.close()
    print("Index on 'name' column created successfully.")

# Test the function
create_index_on_name()

Index on 'name' column created successfully.

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

In [ ]:
import time

def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

# Test the function with the index
fetch_employees_name_starts_with_performance('A')

Time taken: 0.0 seconds
(1, 'ALice', 32, 'Biodegrade', None)

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [ ]:
import shutil

def backup_database():
    shutil.copy('test.db', 'backup.db')
    print("Database backed up successfully.")

# Test the function
backup_database()

Database backed up successfully.

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [8]:
def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database is restored successfully.")

# Test the function
restore_database()

Database is restored successfully.