# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [6]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  31  92  15  80
1  40  71  57  73
2  14   1  56  91
3  14  15   5  16
4   3  65   8  13
5  36  71  14  50
DataFrame with new index:
     B   C   D
A
31  92  15  80
40  71  57  73
14   1  56  91
14  15   5  16
3   65   8  13
36  71  14  50

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [7]:
df = pd.DataFrame(np.random.randint(1,100,size = (3,3)),columns = ['A','B','C'],index= ['X','Y','Z'])
print("Original_dataFrame \n", df)

element = df.at['Y','B']

print(element)

Original_dataFrame
     A   B   C
X  95  33  87
Y  86  60  97
Z  39  96  92
60

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [8]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0  59  42  26
1  84  25  36
2  24  63  28
3  58  51  97
4  64   6  67
DataFrame with new column:
    A   B   C     D
0  59  42  26  2478
1  84  25  36  2100
2  24  63  28  1512
3  58  51  97  2958
4  64   6  67   384

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [9]:
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0   2  32  77
1  64  34  97
2  70  69  87
3  41  75  20
Row-wise sum:
0    111
1    195
2    226
3    136
dtype: int64
Column-wise sum:
A    177
B    210
C    281
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [10]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  93  85  96
1  85  93  24
2  39  23  88
3  28  42  46
4  82  93  93
DataFrame with NaN values:
      A     B     C
0  93.0   NaN  96.0
1  85.0  93.0  24.0
2  39.0  23.0   NaN
3  28.0  42.0  46.0
4   NaN  93.0  93.0
DataFrame with NaN values filled:
       A      B      C
0  93.00  62.75  96.00
1  85.00  93.00  24.00
2  39.00  23.00  64.75
3  28.00  42.00  46.00
4  61.25  93.00  93.00

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [11]:
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  21  93  73  26
1  19  54  34  25
2  78  54  91   9
3  18  99  66  34
4  30   7  67  55
5  54   2  15  17
DataFrame with NaN values:
      A     B     C   D
0  21.0  93.0  73.0  26
1  19.0  54.0   NaN  25
2  78.0  54.0  91.0   9
3   NaN  99.0  66.0  34
4  30.0   7.0  67.0  55
5  54.0   NaN  15.0  17
DataFrame with NaN values dropped:
      A     B     C   D
0  21.0  93.0  73.0  26
2  78.0  54.0  91.0   9
4  30.0   7.0  67.0  55

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [12]:
df = pd.DataFrame({'Category': np.random.choice(['A','B','C'],size= 10), 'Value': np.random.randint(1,100 ,size = 10 )})
print(df)

grouped_df = df.groupby('Category')['Value'].agg(['sum','mean'])

print(grouped_df)

  Category  Value
0        A     42
1        A     12
2        B     64
3        B     19
4        C     95
5        A     42
6        A     23
7        A     63
8        A     20
9        C     55
          sum       mean
Category
A         202  33.666667
B          83  41.500000
C         150  75.000000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [13]:
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod2        B     17
1   Prod2        A     13
2   Prod2        A     54
3   Prod2        A     34
4   Prod2        B     34
5   Prod3        C     80
6   Prod3        A     91
7   Prod3        A     48
8   Prod3        C     45
9   Prod2        A     61
Grouped DataFrame:
Category
A    301
B     51
C    125
Name: Sales, dtype: int32

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [14]:
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      45
1   B       8
2   C      85
3   D       1
DataFrame 2:
  Key  Value2
0   A      21
1   B      11
2   C      43
3   E      95
Merged DataFrame:
  Key  Value1  Value2
0   A      45      21
1   B       8      11
2   C      85      43

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [15]:
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  35  82
1  30  64
2  76  54
DataFrame 2:
    C   D
0  95   7
1  60  97
2  19  84
Concatenated DataFrame (rows):
      A     B     C     D
0  35.0  82.0   NaN   NaN
1  30.0  64.0   NaN   NaN
2  76.0  54.0   NaN   NaN
0   NaN   NaN  95.0   7.0
1   NaN   NaN  60.0  97.0
2   NaN   NaN  19.0  84.0
Concatenated DataFrame (columns):
    A   B   C   D
0  35  82  95   7
1  30  64  60  97
2  76  54  19  84

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [16]:
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    89
2022-01-02    17
2022-01-03    80
2022-01-04    62
2022-01-05    35
...          ...
2022-12-27    42
2022-12-28    84
2022-12-29    70
2022-12-30    64
2022-12-31    92

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  49.258065
2022-02-28  54.464286
2022-03-31  43.129032
2022-04-30  55.466667
2022-05-31  53.677419
2022-06-30  43.433333
2022-07-31  46.935484
2022-08-31  39.064516
2022-09-30  58.866667
2022-10-31  45.483871
2022-11-30  53.766667
2022-12-31  56.290323

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [17]:
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    26
2021-01-02    39
2021-01-03    77
2021-01-04    29
2021-01-05    48
...          ...
2021-12-27    48
2021-12-28    17
2021-12-29     7
2021-12-30    66
2021-12-31    50

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  44.285714
2021-12-28  46.428571
2021-12-29  45.571429
2021-12-30  50.285714
2021-12-31  47.285714

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [18]:
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              23      72      86
         two              22      23       3
B        one              70      93      76
         two              78      43      46
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              23      72      86
two              22      23       3
Slicing at Category 'B' and SubCategory 'two':
Value1    78
Value2    43
Value3    46
Name: (B, two), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [19]:
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              26      30       7
         two              20      44      36
B        one              69      12      83
         two              10      90      91
C        one              69      16      23
         two              74      60      86
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one              26      30       7
         two              20      44      36
B        one              69      12      83
         two              10      90      91
C        one              69      16      23
         two              74      60      86

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [20]:
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-10        B     69
1  2022-01-02        C     36
2  2022-01-10        C     70
3  2022-01-05        B     24
4  2022-01-08        C     92
5  2022-01-01        A      8
6  2022-01-02        B     45
7  2022-01-05        A      4
8  2022-01-02        C     89
9  2022-01-10        C     82
10 2022-01-04        C     98
11 2022-01-07        C     57
12 2022-01-02        C     35
13 2022-01-02        B     83
14 2022-01-01        B     89
15 2022-01-06        A     84
16 2022-01-01        C     38
17 2022-01-06        A     85
18 2022-01-08        B      8
19 2022-01-04        B     72
Pivot Table:
Category        A      B      C
Date
2022-01-01    8.0   89.0   38.0
2022-01-02    NaN  128.0  160.0
2022-01-04    NaN   72.0   98.0
2022-01-05    4.0   24.0    NaN
2022-01-06  169.0    NaN    NaN
2022-01-07    NaN    NaN   57.0
2022-01-08    NaN    8.0   92.0
2022-01-10    NaN   69.0  152.0

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [21]:
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2020      Q2      457
1   2020      Q2      965
2   2020      Q3      471
3   2020      Q3      626
4   2021      Q2      620
5   2020      Q1      248
6   2021      Q3      451
7   2020      Q3      233
8   2020      Q2      707
9   2022      Q1      964
10  2020      Q3      867
11  2021      Q1      994
Pivot Table:
Quarter     Q1          Q2      Q3
Year
2020     248.0  709.666667  549.25
2021     994.0  620.000000  451.00
2022     964.0         NaN     NaN

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [22]:
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  58  25  22
1  48  56  60
2   1  99  59
3  16  97  92
4  77  36  75
Doubled DataFrame:
     A    B    C
0  116   50   44
1   96  112  120
2    2  198  118
3   32  194  184
4  154   72  150

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [23]:
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  76  69  78
1  33  79  16
2  38  64  42
3  60  48  98
4  90  62  44
5  82   3  51
DataFrame with Sum column:
    A   B   C  Sum
0  76  69  78  223
1  33  79  16  128
2  38  64  42  144
3  60  48  98  206
4  90  62  44  196
5  82   3  51  136

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [24]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [25]:
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object